{
  "extends": "airbnb",
  "env": {
    "browser": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-trailing-spaces": "off",
    "indent": ["error", 2],
    "jsx-a11y/href-no-hash": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-unused-vars": "off"
  }
}
